<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-info">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline fw-bold">App Name</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link align-middle px-0 text-white">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline fw-bold">Menu 1</span>
                        </a>
                        <div class="collapse show" id="submenu1" data-bs-parent="#menu">
                            <ul class="nav flex-column ms-1">
                                <li class="w-100">
                                    <a href="#" class="nav-link px-0 text-white"> Item 11 </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0 text-white"> Item 12 </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0 text-white"> Item 13 </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0 text-white"> Item 14 </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0 text-white"> Item 15 </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-white">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline fw-bold">Menu 2</span> 
                        </a>
                        <div class="collapse" id="submenu2" data-bs-parent="#menu">
                            <ul class="nav flex-column ms-1">
                                <li class="w-100">
                                    <a href="#" class="nav-link px-0 text-white"> Item 21 </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0 text-white"> Item 22 </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-white">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline fw-bold">Menu 3</span>
                        </a>
                        <div class="collapse" id="submenu3" data-bs-parent="#menu">
                            <ul class="nav flex-column ms-1">
                                <li class="w-100">
                                    <a href="#" class="nav-link px-0 text-white"> Item 31</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0 text-white"> Item 32</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#submenu4" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-white">
                            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline fw-bold">Menu 4</span>
                        </a>
                        <div class="collapse" id="submenu4" data-bs-parent="#menu">
                            <ul class="nav flex-column ms-1">
                                <li class="w-100">
                                    <a href="#" class="nav-link px-0 text-white"> Item 41</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0 text-white"> Item 42</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0 text-white"> Item 43</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#submenu5" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-white">
                            <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline fw-bold">Menu 5</span> 
                        </a>
                        <div class="collapse" id="submenu5" data-bs-parent="#menu">
                            <ul class="nav flex-column ms-1">
                                <li class="w-100">
                                    <a href="#" class="nav-link px-0 text-white"> Item 51</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0 text-white"> Item 52</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0 text-white"> Item 53</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0 text-white"> Item 54</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fs-4 bi bi-gear-fill"></i>
                        <span class="d-none d-sm-inline mx-1">Settings</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="#">Settings 1</a></li>
                        <li><a class="dropdown-item" href="#">Settings 2</a></li>
                        <li><a class="dropdown-item" href="#">Settings 3</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <main class="col ps-md-2 pt-2">
            <button *ngIf="isAuthenticated" (click)="logout()">Logout</button>
            <button (click)="callBackend()">Call backend</button>
            <router-outlet></router-outlet>            
        </main>
    </div>
</div>
