<div class="zzz-card-pagination" [hidden]="!isVisible">
  <div class="d-md-flex align-items-center justify-content-between">
      <p class="mb-0">
          Showing {{ currentPage < totalPages ? pagerPageSize : pagerTotalItems - ((currentPage - 1) * pagerPageSize)  }} of {{ pagerTotalItems }} results
      </p>
      <ol class="list-unstyled mb-0 p-0">
          <li [class.disabled]="!previousEnabled" class="d-inline-block" type="button" (click)="previousNext(-1, $event)">
              <a class="prev">
                  <span class="opacity-0">
                      0
                  </span>
                  <i class="material-symbols-outlined">
                      chevron_left
                  </i>
              </a>
          </li>
          <li *ngFor="let page of pages" type="button" (click)="changePage(page, $event)" class="d-inline-block">
              <a routerLink="." [class.active]="currentPage === page">
                {{ page }}
              </a>
          </li>
          <li [class.disabled]="!nextEnabled" class="d-inline-block" type="button" (click)="previousNext(1, $event)">
              <a class="next">
                  <span class="opacity-0">
                      0
                  </span>
                  <i class="material-symbols-outlined">
                      chevron_right
                  </i>
              </a>
          </li>
      </ol>
</div>  

